<!--The content below is only a placeholder and can be replaced.-->
<clr-main-container>
    <clr-header class="header-6">
        <div class="branding">
            <a [routerLink]="['/']" class="nav-link">
                <clr-icon shape="world"></clr-icon>
                <span class="title">AW Pacific</span>
            </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a [routerLink]="['/login']" class="nav-link nav-text">Dry Goods</a>
            <a [routerLink]="['/login']" class="nav-link nav-text">Office Goods</a>
            <a [routerLink]="['/login']" class="nav-link nav-text">Raw Goods</a>
        </div>
        <div class="header-actions">
            <a [routerLink]="['/shopping-cart']" class="nav-link nav-text">
                <clr-icon shape="shopping-cart"></clr-icon>
            </a>
            <a *ngIf="!isLoggedIn" [routerLink]="['/login']" class="nav-link nav-text marg-right">Login</a>
        </div>
    </clr-header>
    <div class="content-container">
        <main class="content-area">
            <router-outlet></router-outlet>
        </main>
    </div>
</clr-main-container>
